<p style="color: green"><%= notice %></p>

<%= render @sound %>

<div>
  <%= link_to "Edit this sound", edit_sound_path(@sound) %> |
  <%= link_to "Back to sounds", sounds_path %>

  <%= button_to "Destroy this sound", @sound, method: :delete %>
</div>
